#header {
    margin: 0px 24px;
    opacity: 0.9;
}

#headerTitle {
    margin-top: 16px;
    font-size: 11.2px;
    font-weight: 600 !important;

}

#headerSubtitle {
    font-size: 8.96px;
    font-weight: 600 !important;

}
