#headerTitle {
  font-size: 13.12px;
  font-weight: 500;
  color: #2b2b2b;
}

#headerSubtitle {
  font-size: 10.8037934490364px;
  font-weight: 500;
  color: #2b2b2b;
}

#headerTextContainer {
  position: absolute;
  right: 32px;
  top: 24px;
  text-align: right;
  display: none;
}

#headerTitle {
  color: #757575;
  font-size: 17.71px !important;
  padding-bottom: 4px;

}

#headerSubtitle {
  color: #757575;
  font-size: 12.3px !important;
  padding-bottom: 4px;
}

@media screen and (max-width: 592px) {
  #headerTextContainer {
    display: none;
  }

  #mainMenu {
    height: inherit; /* tend */
  }
}