#header {
    margin: 0px 24px;

}

#headerTextContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#headerTitle {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500 !important;

}

#mainMenu {
    margin-top: 8px !important;
}
