.loaderComponent {
  display: block !important;
}

#loaderContainer {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  background-color: transparent;
  transition: opacity 1s ease-in-out;
  opacity: 0;

}

#loader {
  width: 48px;
  height: 48px;
  border-radius: 70%;
  display: inline-block;

  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 24px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

#loaderComponent {
  transition: opacity 1s;
}