.menubutton {


  color: #e5e5e5;
  font-weight: 700 !important;

}

.activeButton {
  color: #ffffff;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

#mainMenu {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin: 0px 24px;
}

#mainMenu button {
  height: 100%;
  min-width: 48px;
}

  .menubutton {
    text-align: center;

  }

  .inactiveButton {

  }
  
