.menubutton {
  color: #6B6B6B;
  font-weight: 500 !important;
}

.activeButton {
  color: #000000;
}

#mainMenu {
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin: 0px 24px;
}

#mainMenu button {
  height: 100%;
  min-width: 48px;
}

.menubutton {
  text-align: center;
}

  .inactiveButton {

  }
  
