.swiper-button-prev, .swiper-button-next {

    display: none !important;

  }

  .swiper-pagination {
    position: fixed !important;
    bottom: 0px !important;
  }

.swiper {
    width: 100vw;
}

.exhibitionSwiper {
    transition: opacity 2s;
    opacity: 0;
}


.swiper {

    position: fixed;
    overflow-y: clip;
  }
  
  .swiper-slide {
    overflow-y: scroll !important;
    position: fixed;

  }