
.swiper-pagination {
    position: fixed;
    bottom: 0px;
    padding-top: 16px;
    padding-bottom: 8px;
    background-color: black;

}




.swiper-wrapper {

}


.swiper-slide {
  overflow-y: scroll;
 
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.exhibitionSlide {
  height: calc(100dvh - 48px) !important;
}

.artworkSlide {
  height: calc(100dvh - 115px) !important;
}



.autosaveSwiper .swiper-pagination {


}

.artworksSwiper, .exhibitionSwiper {
  height: calc(100dvh - 66px) !important;
}