
.swiper-pagination {
    position: fixed;
    bottom: 0px;
    padding-top: 16px;
    padding-bottom: 8px;
    background-color: black;

}

.swiper-button-next, .swiper-button-prev {
  color: white !important; 
}



.swiper-wrapper {

}


.swiper-slide {
  overflow-y: scroll;
 
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.artworkSlide {
  height: calc(100dvh - 115px) !important;
}

.autosaveSwiper .swiper-pagination {

  bottom: 0px;
}

.artworksSwiper, .exhibitionSwiper {
  height: calc(100dvh - 66px) !important;
}