.autosaveVid {
    width: 100%;
}

.autosaveVid {
    height: 176px;
}

.autosaveSwiper {
    width: 100vw;
}

.autosaveSwiper .swiper-slide {

    display: flex;
    justify-content: center;
}

.autosaveSwiper .swiper-slide iframe {
    width: 80%;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important; 

  }

