.experienceIsFullscreen {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.swiperPositionToZero {

    position: fixed;
    top: 0 !important;

}

audio::-webkit-media-controls-panel {
    background-color: red;
    color: #333;
    border-radius: 8px;
  }

#butterfliesVisitButton {
    width: 80%;
    border-radius: var(--borderRadius);
    height: 48px;
}