#confidentialiframe {
    aspect-ratio: 27 / 9;
    display: grid;
    align-items: center;
    margin: 16px 0px;

    left: 0px;
}

.experienceIsFullscreen {
    position: fixed;
    top: 0;
    left: 0;
}