#artwork_page {
    width: 20%;
    overflow: scroll;
}

.exhibitionSlide {
    display: flex !important;
    justify-content: center !important; 
}

#curatorialContainer {
    margin: 15px;
}

#artwork_page {
    overflow-y: hidden;
}

/* Scrollbar styling for Firefox */
#artwork_page::-webkit-scrollbar {
    width: 12px;
}

#artwork_page::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

#artwork_page::-webkit-scrollbar-thumb {
    background-color: grey;


}

#artwork_page::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
}