

.exhibitionSlide {
    display: flex !important;

}

.exhibitionSlide > div > div:last-child > div {
    background-color: #6e6e6e !important;
    

}

.exhibitionSlide > div > div:last-child {
    display: block !important;
    background-color: #dadada !important;
}

@media screen and (min-width: 768px) {

    #artwork_page {

        margin-left: 256px;
        margin-top: 64px;
    }

    #artwork_page {
        width: 30%;

    }

}


#artwork_page::-webkit-scrollbar {
    width: 12px;
}

#artwork_page::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

#artwork_page::-webkit-scrollbar-thumb {
    background-color: grey;


}

#artwork_page::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
} 

p {
    font-size: 17.71px;
    line-height: 1.9;
  }
    
  
  
  #artworksLabel {
    font-size: 12.3px;
    display: flex;
    align-items: center;
    margin-right: 26px;
    font-weight: 500 !important;
  }
  
  #aboutLabel {
    font-size: 12.3px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-weight: 500 !important;
  }

  #curatorialContainer {
    margin-right: 50px;
  }

  h3 {
    margin-bottom: 24px;
  }