@media (prefers-color-scheme: light) {



      :root {
        -webkit-tap-highlight-color: transparent;
        background-color: rgb(255, 255, 255);
        --buttonText: #181818;
        --buttonBorder: #141414;
        --swiper-scrollbar-bottom: 0px;
        --swiper-scrollbar-bg-color: #dfdcdc;
        --swiper-scrollbar-drag-bg-color: rgb(44, 44, 44);
        --swiper-scrollbar-sides-offset: 1%;
        --swiper-scrollbar-right: 24px !important;

        --swiper-navigation-sides-offset: 0px !important;
        
      }  

      .menubutton {
        color: #707070;
      }

      .menubutton:hover {
        color: #474747;
      }

      .activeButton {
        color: #161616 !important;
      }

      #loader {
        border-top: 2px solid #0c0c0c;
        border-right: 2px solid transparent;
      }

      

}



@media (prefers-color-scheme: dark) {

        * {
          color: white;
        }



        :root {
          -webkit-tap-highlight-color: transparent;
          background-color: rgb(31, 31, 31);
          --buttonText: rgb(255, 255, 255);
          --buttonBorder: rgb(255, 255, 255);
          --swiper-scrollbar-bg-color: rgb(94, 94, 94);
          --swiper-scrollbar-drag-bg-color: rgb(219, 219, 219);
          --swiper-scrollbar-bottom: 0px;
        }  

        .menubutton {
          color: #999999;
        }



        .menubutton:hover {
          color: #e2e2e2;
        }

        .activeButton {
          color: #ffffff !important;
        }

        #loader {
          border-top: 2px solid #e2e2e2;
          border-right: 2px solid transparent;
        }

}
