/* 

'Global stylesheet' - this sheet is responsible for standard formatting applied throughout the whole of the webpage.
Besides importing the fonts the site uses, it configures values for the following properties:

root element font size
root element (__next) background color
size, position, opacity of the background image
exhibition transition animation speed
standard font and font color
standard margin and padding

*/


/*   IMPORT FONTS   */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+HK:wght@100;200;300;400;500;600;700;800;900&display=swap');

.notoSansHk {
  font-family: 'Noto Sans HK', sans-serif;
}

/*   "Global styles"   */

:root {

    background-color: black;
    --montserrat-root: 16px;
    --noto-root: 16px;
    height: 100%;
  }

  #__next {
    height: 100%;
  }

  body {
    height: 100%;

  }

* {

    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: 400;
    
  }

button {

  border: none;
  background-color: transparent;

}

.invisible {
  display: none !important;
}


#exhibition {
  opacity: 0;
  transition: opacity 1.6s;
}

iframe {
/*  pointer-events: none; */
padding: 0;
margin: 0;
}




body, #__next, :root {
  overflow-y: clip;
}

#loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;

}


#loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#E4E4ED;
  border-right-color: #766DF4;
  animation:s2 1s infinite linear;

}

@keyframes s2 {to{transform: rotate(1turn)}}

