/* 

'Global stylesheet' - this sheet is responsible for standard formatting applied throughout the whole of the webpage.
Besides importing the fonts the site uses, it configures values for the following properties:

root element font size
root element (__next) background color
size, position, opacity of the background image
exhibition transition animation speed
standard font and font color
standard margin and padding

*/


/*   IMPORT FONTS   */





/*   "Global styles"   */

:root {

    background-color:  #f3f3f3;

    --noto-root: 16px;
    height: 100%;
    --buttonText: #2c2c2c;
    --buttonBorder: #949494;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

/*     background-color:  #0a0a0a; */


  #__next {
    height: 100%;
  }

  body {

    height: 100%;

  }

* {

    padding: 0px;
    margin: 0px;
    color: #000000;
    font-weight: 400;

    
  }

button {

  border: none;
  background-color: transparent;

}

.invisible {
  display: none !important;
}


#exhibition {
  opacity: 0;
  transition: opacity 1.6s;
  margin-top: 24px;
}

iframe {
/*  pointer-events: none; */
padding: 0;
margin: 0;
}


 /* #bg {
  background-image: url("/bg.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -5000;
  opacity: 0.2;
}  */

body, #__next, :root {
  overflow-y: clip;
}

#loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;

}


#loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#E4E4ED;
  border-right-color: #766DF4;
  animation:s2 1s infinite linear;

}

@keyframes s2 {to{transform: rotate(1turn)}}

