@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fluidHeightContentWindowHeight: 0px;

}

.fluidHeightContentWindow {
    height: var(--fluidHeightContentWindowHeight);
  
}

#placeHolderToFetch100dvhInPixels {
    height: 100dvh;
   }

html {
  scrollbar-width: none;
  overflow-y: clip;
}

* {

  padding: 0px;
  margin: 0px;


}

button {

  border: none;
  background-color: transparent;

}

#exhibition {

  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin: 0px 0px;

}