#header {
  position: static;
  width: 100%;
  z-index: 60;
  background-color: black;
  display: flex;
  align-items: center;
}

#headerTitle {
    font-size: 1.44rem;
    margin-top: 16px;
}

#headerSubtitle {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

#hamburgerMenu {
  position: absolute;
  right: 25px;
  width: 50px;
  height: 50px;
}

#hamburgerMenu img {
  width: 32px;
  height: 32px;
 }

 #headerTextContainer {
  margin-left: 24px;
 }

@media screen and (max-width: 852px) {

  #headerTitle {
    font-size: 1.2rem;
 }

  #headerSubtitle {
  font-size: 12.34px;
 }


}


@media screen and (min-width: 853px) and (max-width: 1279) {

}
  

@media screen and (min-width: 1280px) {

  #burgerMenu {
    display: none;
  }
}

