#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: black;
  width: 100%;
}

#headerTitle {
    padding-top: 32px;
    font-size: 1.728rem;
}

#headerSubtitle {
  font-size: 1rem;
  padding-bottom: 32px;
}

#hamburgerMenu {
  position: fixed;
  top: 50px;
  right: 25px;
}


@media screen and (max-width: 852px) {

  #headerTitle {
    font-size: 1.2rem;
 }

  #headerSubtitle {
  font-size: 12.34px;
 }

 #logoContainer {
  padding-left: 16px;
}

}


@media screen and (min-width: 853px) and (max-width: 1279) {

}
  

@media screen and (min-width: 1280px) {

  #burgerMenu {
    display: none;
  }
}

