#swipeController {
position: absolute;
width: 700%;
left: 0px;
overflow-x: hidden;

}

.mobileContentPage {
position: absolute;
top: 0px;
}

.mobile1 {
left: 0px;
}

.mobile2 {
left: 100%;    
}

.mobile3 {
left: 200%;    
}

.mobile4 {
left: 300%;    
}

.mobile5 {
left: 400%;    
}

.mobile6 {
left: 500%;    
}

.mobile7 {
left: 600%;    
}

.mobile8 {
    left: 700%;
} 