#contentContainer {
    /* touch-action: none; */
}


.mobileContentPage {
    width: 100%;
    position: absolute;
    top: 0px;
    margin-top: 120px;

}

.mobile1 {
    display: block;
}

.mobile2 {
    left: 100%;
}

.mobile3 {
    left: 200%;
}

.mobile4 {
    left: 300%;  
}

.mobile5 {
    left: 400%;
}

.mobile6 {
    left: 500%;  
}

.mobile7 {
    left: 600%;  
}

.mobile8 {
    left: 700%;
} 