#__next {
    overflow-x: scroll;
}

#contentContainer {
 
    overflow-x: scroll;
}

.mobileContentPage {

}

.mobile1 {

}

.mobile2 {
    position: absolute;
    left: 100%;
    width: 100%;
}

.mobile3 {
  
}

.mobile4 {
  
}

.mobile5 {

}

.mobile6 {
  
}

.mobile7 {
  
}

.mobile8 {

} 