
.swiper {
  overflow-y: clip;
  position: fixed;

}

.swiper-wrapper {
  overflow-y: clip;
}

.swiper-slide {
  overflow-y: scroll !important;
  position: fixed;
}

body::webkit-scrollbar {
  width: 40px;
}