
#paginator {

  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 16px 5px;
  background-color: black;
  z-index: 10;
  display: grid;
  place-items: center;

}

.swiper-pagination {
  z-index: 10;
  height: 64px !important;
}

#paginatorCircleContainer {

  display: flex;

}

.paginatorCircle {

  color: white !important;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 50px;
  z-index: 11;

}

.swiper-pagination-bullet {
  z-index: 10;
}