#paginator {

  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 16px 5px;
  background-color: black;
  z-index: 5;
  display: grid;
  place-items: center;

}

#paginatorCircleContainer {

  display: flex;

}

.paginatorCircle {

  color: white !important;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 50px;
  z-index: 8;

}