

/* These styles are applied to the content of the welcome screen */
/* All welcome screen IDs start with the "wcs" prefix */


#wcsOuterContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

#wcsInnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 320px) {

    #wcsExhibitionEnglishHeader {
        font-size: 28.83px;
    }

    #wcsExhibitionEnglishSubheader {
        font-size: 12.64px;
    }

    #wcsEnterButtonEnglish {
        width: 96%;
        border: solid 1px grey;
        border-radius: 200px;
        height: 52.71px;
        margin-top: 20px;
        font-size: 14.05px;
    }

    #wcsExhibitionChineseHeader {
        font-size: 28.81px;
        margin-top: 39.81px;
        font-weight: 300;
    }

    #wcsExhibitionChineseSubheader {
        font-size: 16px;
        font-weight: 300;
    }

    #wcsEnterButtonChinese {
        width: 96%;
        border: solid 1px grey;
        border-radius: 200px;
        height: 52.71px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 100;
    }

}