

/* These styles are applied to the content of the welcome screen */
/* All welcome screen IDs start with the "wcs" prefix */


#wcsOuterContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    transition: opacity 1s ease-in-out;
    overflow-x: hidden;
}

#wcsInnerContainer {
    position: relative;

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 560px) {

    #wcsExhibitionEnglishHeader {
        font-size: 31.25px;
        font-weight: 400;
        line-height: 2rem;
        align-self: center;
    }

    #wcsExhibitionEnglishSubheader {
        font-size: 12.64px;
        opacity: 1;
        padding-top: 12.64px;
        font-weight: 500;
        text-align: left;
        align-self: center;

    }

    #wcsEnterButtonEnglish {
        width: 72%;
        border: solid 1px rgba(255,255,255, 0.6);
        height: 54px;
        align-self: flex-end;
        margin-right: 48px;
        margin-top: 24px;
        font-size: 14.22px;
        border-radius: 200px;
        background-color: black;
    }

    #wcsEnterButtonEnglish span {

        position: relative;
        top: -0.129px;
        font-weight: 500;
        opacity: 1;
        
    }

    #wcsExhibitionChineseHeader {
        font-size: 25.63px;
        margin-top: 44px;
        font-weight: 300;
        letter-spacing: 0.3rem;
        align-self: center;
    }

    #wcsExhibitionChineseSubheader {
        font-size: 16px;
        font-weight: 400;
        opacity: 1;
        letter-spacing: 0.3rem;
        align-self: center;
        padding-top: 6.45px;

    }

    #wcsEnterButtonChinese {
        width: 72%;
        border: solid 1px rgba(255,255,255, 0.6);
        border-radius: 200px;
        height: 54px;
        margin-top: 24px;
        font-size: 14.22px;
        align-self: center;
        letter-spacing: 0.1rem;
    }

    #wcsEnterButtonChinese span {
        font-weight: 500;
        position: relative;
        top: -1.08px;
    }

}

