

/* These styles are applied to the content of the welcome screen */
/* All welcome screen IDs start with the "wcs" prefix */


#wcsOuterContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    transition: opacity 1s ease-in-out;
}

#wcsInnerContainer {
    position: relative;
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 320px) {

    #wcsExhibitionEnglishHeader {
        font-size: 28.83px;
        font-weight: 500;
        line-height: 2rem;

    }

    #wcsExhibitionEnglishSubheader {
        font-size: 14.05px;
        opacity: 1;
        padding-top: 12.05px;
        font-weight: 500;
        width: 100%;
        text-align: left;

    }

    #wcsEnterButtonEnglish {
        width: 100%;
        border: solid 1.4px rgba(255,255,255, 0.3);
        border-radius: 200px;
        height: 55.84px;
        margin-top: 18.22px;
        font-size: 15px;
        align-self: center;
    }

    #wcsEnterButtonEnglish span {

        position: relative;
        top: -0.629px;
        font-weight: 500;
    }

    #wcsExhibitionChineseHeader {
        font-size: 25.64px;
        margin-top: 20.74px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        position: relative;
        left: 0.1rem;

    }

    #wcsExhibitionChineseSubheader {
        font-size: 16px;
        font-weight: 400;
        opacity: 1;
        letter-spacing: 0.2rem;
        position: relative;
        padding-top: 8.36px;
        left: 0.1rem;
    }

    #wcsEnterButtonChinese {
        width: 100%;
        border: solid 1px rgb(50,50,50);
        border-radius: 200px;
        height: 55.84px;
        margin-top: 23.61px;
        font-size: 16px;
        align-self: center;

    }

    #wcsEnterButtonChinese span {
        font-weight: 400;
        position: relative;
        top: -1.08px;
        opacity: 0.75;
    }

}

