* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-color: black;
    background-color: rgb(255, 255, 255);
  }

  :root {
    scrollbar-color: black;
    background-color: rgb(255, 255, 255);
  }

  html {
    scrollbar-color: black;
    background-color: rgb(255, 255, 255);
  }

  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: red; /* Color of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #006c8d; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }